<div class="container">
    <mat-card class="m-4">
        <mat-card-header>
            <div class="card-title">
                <h1 class="animated fadeIn" style="margin-left: -25px;">{{ titulo }}</h1>
            </div>
        </mat-card-header>
        <div class="card-body">
            <form class="form-group" [formGroup]="formulario">

                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Docente</mat-label>
                            <input matInput name="docente" id="docente" type="text"
                                            formControlName="docente" >
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Carrera</mat-label>
                            <mat-select name="carrera" id="carrera" 
                                        formControlName="carrera"
                                        (selectionChange)="seleccionarCarrera($event.value)">
                                <mat-option *ngFor="let c of comboCarrera" [value]="c">{{ c.nombre }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-label>Comision</mat-label>
                            <mat-select name="comision" id="comision" 
                                        formControlName="comision"
                                        (selectionChange)="seleccionarComision($event.value)">
                                <mat-option *ngFor="let c of comboComision" [value]="c">Comision: {{ c.numeroComision }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-8">
                        <mat-form-field>
                            <mat-label>Asignatura</mat-label>
                            <mat-select name="asignatura" id="asignatura" 
                                        formControlName="asignatura"
                                        (selectionChange)="seleccionarAsignatura($event.value)">
                                <mat-option *ngFor="let a of comboAsignatura" [value]="a">{{ a.nombre }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-label>Funcion</mat-label>
                            <mat-select name="funcionProfesor" id="funcionProfesor" 
                                        formControlName="funcionProfesor"
                                        (selectionChange)="seleccionarFuncion($event.value)">
                                <mat-option [value]="1">Teoria</mat-option>
                                <mat-option [value]="2">Practica</mat-option>
                                <mat-option [value]="3">Auxiliar</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-label>Dia Cursado</mat-label>
                            <mat-select name="diaCursado" id="diaCursado" 
                                        formControlName="diaCursado"
                                        (selectionChange)="seleccionarDiaCursado($event.value)">
                                <mat-option [value]="'Lunes'">Lunes</mat-option>
                                <mat-option [value]="'Marter'">Martes</mat-option>
                                <mat-option [value]="'Miercoles'">Miercoles</mat-option>
                                <mat-option [value]="'Jueves'">Jueves</mat-option>
                                <mat-option [value]="'Viernes'">Viernes</mat-option>
                                <mat-option [value]="'Sabado'">Sabado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-group col-md-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Hora Cursado</mat-label>
                            <input matInput name="horaCursado" id="horaCursado" type="time" 
                                            formControlName="horaCursado"
                                            (input)="onChangeHoraCursado()"
                                            required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field class="example-full-width">
                            <mat-label>Horas Semanales</mat-label>
                            <input matInput name="cantidadHorasSemanales" id="cantidadHorasSemanales" type="text" 
                                            formControlName="cantidadHorasSemanales"
                                            (input)="onChangeCantidadHorasSemanales()"
                                            required>
                            <mat-error *ngIf="formulario.get('cantidadHorasSemanales').hasError('required')">
                                <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                            </mat-error>  
                            <mat-error *ngIf="formulario.get('cantidadHorasSemanales').hasError('min')">
                                <label class="error">Cantidad horas invalida</label>
                            </mat-error>  
                            <mat-error *ngIf="formulario.get('cantidadHorasSemanales').hasError('max')">
                                <label class="error">Cantidad horas excedidas</label>
                            </mat-error> 
                            <mat-error *ngIf="formulario.get('cantidadHorasSemanales').hasError('pattern')">
                                <label class="error">Ingrese solo numeros</label>
                            </mat-error>  
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;">
                    <button mat-raised-button class="btn m-1 float-right" 
                                              type="submit" color="primary" (click)="save()"
                                              [disabled]="!formulario.valid">
                        <span class="material-icons">
                            save
                        </span>
                        Guardar
                    </button>
                    <button mat-raised-button class="btn m-1 float-right" 
                                              type="button"  (click)="close()">
                        Cerrar
                    </button>
                </div>
            </div>
        </div> 
    </mat-card>
</div>

