<br>
<mat-card-header style="padding-top: 20px;">
    <mat-card-title>
        <h1 class="animated fadeIn">
            {{ titulo | uppercase }}
        </h1>
        <!-- MOSTRAR CARTEL SI EL BACKEND DEVUELVE UN ERROR -->
        <div *ngIf="error" class="alert alert-warning text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">{{ error }}</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
        </div>
    </mat-card-title>

  </mat-card-header>
    <!-- MOSTRAR SI EL ALUMNO AUN NO SE HA INSCRITO A NINGUNA CARRERA -->
    <!-- <div *ngIf="flagComboCarreraIsEmpty" class="alert alert-danger text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">El alumno {{ alumno.apellido }}, {{ alumno.nombre }} no esta inscripto a ninguna carrera</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>     -->
  
  <!-- INICIO STEPPER -->
  <mat-horizontal-stepper linear #stepper>
    <!-- INICIO PRIMER STEPPER -->
    <mat-step [stepControl]="autocompleteCtrl">
        <ng-template matStepLabel>Alumnos</ng-template>
        
        <div class="row">
            <div class="form-group col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Buscar Alumno" 
                                    [formControl]="autocompleteCtrl"
                                    [matAutocomplete]="autocomplete">
                    <mat-autocomplete #autocomplete="matAutocomplete"
                                      [displayWith]="mostrarAlumno()"
                                      (optionSelected)="seleccionarAlumno($event)">
                        <mat-option *ngFor="let a of alumnosAutocomplete" [value]="a">{{ a.apellido }}, {{ a.nombre }}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <table mat-table 
            *ngIf="alumnosSeleccionados.length > 0"
            [dataSource]="alumnosSeleccionados" class="mat-elevation-z8 m-3 animated fadeIn" style="width: 100%; margin: 0rem!important;">
            
                <ng-container matColumnDef="legajo">
                    <th mat-header-cell *matHeaderCellDef>Legajo</th>
                    <td mat-cell *matCellDef="let alumno"> {{ alumno.legajo }} </td>
                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef>Apellido</th>
                    <td mat-cell *matCellDef="let alumno"> {{ alumno.apellido }} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let alumno"> {{ alumno.nombre }} </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let alumno">
                        <button mat-mini-fab color="primary" title="Ver" (click)="verAlumno(alumno)">
                            <span class="material-icons">
                                person
                            </span>                                
                        </button>

                        <button mat-mini-fab color="primary" title="Eliminar" (click)="eliminarDeAlumnosSeleccionados(alumno)">
                            <span class="material-icons">
                                delete_forever
                            </span>                  
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let alumno; columns: displayedColumns;"></tr>

            </table>

        </div>


        <div class="row clearfix" style="padding-left: 1060px; padding-top: 25px;">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" style="margin-bottom: 10px;">
                <button mat-raised-button matStepperNext 
                                        class="btn mx-2 float-right" 
                                        type="submit" color="primary"
                                        (click)="verInfoAlMomento()">
                    <span class="material-icons">
                        save
                    </span>
                    Siguiente
                </button>
            </div>
        </div>  
    </mat-step>
    <!-- FIN PRIMER STEPPER -->
  
    <!-- INICIO SEGUNDO STEPPER -->
    <mat-step [stepControl]="formulario" [optional]="isOptional">
      <ng-template matStepLabel>Datos Asignatura</ng-template>
      <mat-card-content>
        <h2>DATOS ASIGNATURA</h2>
        <hr>
        <div class="form-horizontal">
          <form class="form-group" [formGroup]="formulario">
            <div class="row">
    
                <!-- CAMPO NIVEL -->
                <div class="form-group col-md-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nivel</mat-label>
                        <input matInput name="nivel" id="nivel" type="text"
                                        formControlName="nivel" 
                                        required>
                        <mat-error *ngIf="formulario.get('nivel').hasError('required')">
                            <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                        </mat-error>  
                        <mat-error *ngIf="formulario.get('nivel').hasError('pattern')">
                            <label style="font-weight: normal; font-size: 12px"  class="error">Ingresar solo numeros</label>
                        </mat-error> 
                        <mat-error *ngIf="formulario.get('nivel').hasError('max')">
                            <label style="font-weight: normal; font-size: 12px"  class="error">El nivel maximo es 6</label>
                        </mat-error> 
                    </mat-form-field>
                </div>

                <!-- CAMPO CARRERA -->
                <div class="form-group col-md-5">
                    <mat-form-field>
                        <mat-label>Carrera</mat-label>
                        <mat-select name="carrera" id="carrera" 
                                    formControlName="carrera"
                                    (selectionChange)="seleccionarCarrera($event.value)">
                            <mat-option *ngFor="let carrera of comboCarrera" [value]="carrera">{{ carrera.nombre }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.get('carrera').hasError('required')">
                            <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                        </mat-error>  
                    </mat-form-field>
                </div>

                <!-- CAMPO ASIGNATURA -->
                <div class="form-group col-md-5">
                    <mat-form-field>
                        <mat-label>Asignatura</mat-label>
                        <mat-select name="asignatura" id="asignatura" 
                                    formControlName="asignatura"
                                    (selectionChange)="seleccionarAsignatura($event.value)">
                            <mat-option *ngFor="let asignatura of comboAsignatura" [value]="asignatura">{{ asignatura.nombre }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.get('asignatura').hasError('required')">
                            <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                        </mat-error>  
                    </mat-form-field>
                </div>
            </div>
  
            <div class="row">
                <!-- CAMPO COMISION -->
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Comision</mat-label>
                        <mat-select name="comision" id="comision" 
                                    formControlName="comision"
                                    (selectionChange)="seleccionarComision($event.value)">
                            <mat-option *ngFor="let c of comboComision" [value]="c">{{ c.numeroComision }} - {{ c.planCarrera.carrera.nombre }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.get('comision').hasError('required')">
                            <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
          </form>
        <div class="row clearfix" style="padding-left: 1060px; padding-top: 10px;">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" style="margin-bottom: 10px;">
                <button mat-raised-button matStepperNext 
                                        class="btn mx-2 float-right" 
                                        type="submit" color="primary"
                                        [disabled]="!formulario.valid"
                                        (click)="verInfoAlMomento()">
                    <span class="material-icons">
                        save
                    </span>
                    Siguiente
                </button>
            </div>
        </div>  
        </div>
      </mat-card-content>
    </mat-step>
    <!-- FIN SEGUNDO STEPPER -->
  
    <!-- INICIO TERCER STEPPER -->
    <mat-step>
      <ng-template matStepLabel>Fin</ng-template>
      <!-- MENSAJE ACLARATORIO -->
      <div class="alert alert-success text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Ya haz terminado! Para registrar las inscripciones aprieta en Registrar Inscripcion</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
      </div>    
      <div class="row clearfix" style="padding-left: 1060px; padding-top: 10px;">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" style="margin-bottom: 10px;">

            <button mat-raised-button matStepperNext 
                                      class="btn mx-2 float-right" 
                                      type="submit" color="primary"
                                      [disabled]="!formulario.valid && !flagComboCarreraIsEmpty"
                                      (click)="save()">
                <span class="material-icons">
                    save
                </span>
                Registrar Inscripcion
            </button>
        </div>
      </div>  
    </mat-step>
    <!-- FIN TERCER STEPPER -->
  </mat-horizontal-stepper>
  <!-- FIN STEPPER -->
  