<mat-card-header style="margin-top: 15px;">
  <mat-card-title>
      <h1 class="animated fadeIn">
          {{ titulo | uppercase }}
      </h1>
      <!-- MOSTRAR CARTEL SI EL BACKEND DEVUELVE UN ERROR -->
      <div *ngIf="errorMessage" class="alert alert-warning text-center mt-3 animated fadeIn faster">
          <h4 class="alert-heading">{{ errorMessage }}</h4>
          <p>
              <i class="fa fa-exclamation fa-2x"></i>
          </p>
      </div>
  </mat-card-title>
</mat-card-header>


<!-- INICIO STEPPER -->
<mat-horizontal-stepper linear #stepper>
  <!-- INICIO PRIMER STEPPER -->
  <mat-step [stepControl]="formularioAlumno">
    <ng-template matStepLabel>Datos Alumno</ng-template>
    <app-alumno-add [idAlumno]="idAlumno" [alumno]="alumno" [flagIncsripcionCarrera]="flagInscripcionCarrera" (devolverAlumno)="obtenerAlumnoParaInscripcion($event)"></app-alumno-add>
  </mat-step>
  <!-- FIN PRIMER STEPPER -->

  <!-- INICIO SEGUNDO STEPPER -->
  <mat-step [stepControl]="formularioCarrera" [optional]="isOptional">
    <ng-template matStepLabel>Datos Carrera</ng-template>
    <mat-card-content>
      <h2>DATOS CARRERA</h2>
      <hr>
      <div class="form-horizontal">
        <form class="form-group" [formGroup]="formularioCarrera">
          <div class="row">
            <!-- CAMPO TIPO CARRERA -->
            <div class="form-group col-md-6">
              <mat-form-field>
                  <mat-label>Tipo Carrera</mat-label>
                  <mat-select name="tipoCarrera" id="tipoCarrera" 
                              formControlName="tipoCarrera"
                              (selectionChange)="seleccionarTipoCarrera($event.value)">
                      <mat-option *ngFor="let tipo of comboTipoCarrera" [value]="tipo.id">{{ tipo.tipoCarrera }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formularioCarrera.get('tipoCarrera').hasError('required')">
                      <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                  </mat-error>  
              </mat-form-field>
            </div>

            <!-- CAMPO CARRERA -->
            <div class="form-group col-md-6">
              <mat-form-field>
                  <mat-label>Carrera</mat-label>
                  <mat-select name="carrera" id="carrera" 
                              formControlName="carrera"
                              (selectionChange)="seleccionarCarrera($event.value)">
                      <mat-option *ngFor="let carrera of comboCarrera" [value]="carrera.id">{{ carrera.nombre }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formularioCarrera.get('carrera').hasError('required')">
                      <label style="font-weight: normal; font-size: 12px"  class="error">Campo Requerido</label>
                  </mat-error>  
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- CAMPO FECHA INSCRIPCION -->
            <div class="form-group col-md-4">
              <mat-form-field class="example-full-width">
                  <mat-label>Fecha Inscripcion</mat-label>
                  <input matInput name="fechaInscripcion" id="fechaInscripcion" type="text"
                                  formControlName="fechaInscripcion">
              </mat-form-field>
            </div>

            <!-- CAMPO ANIO PLAN -->
            <div class="form-group col-md-4">
              <mat-form-field class="example-full-width">
                  <mat-label>Año Plan</mat-label>
                  <input matInput name="anioPlan" id="anioPlan" type="text"
                                  formControlName="anioPlan">
              </mat-form-field>
            </div>

            <!-- CAMPO RESOLUCION -->
            <div class="form-group col-md-4">
              <mat-form-field class="example-full-width">
                  <mat-label>Resolucion</mat-label>
                  <input matInput name="resolucion" id="resolucion" type="text"
                                  formControlName="resolucion">
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="row clearfix" style="padding-left: 1075px; margin-top: -15px;">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" style="margin-bottom: 10px;">
              <button mat-raised-button matStepperNext 
                                        class="btn mx-2 float-right" 
                                        type="submit" color="primary"
                                        [disabled]="!formularioCarrera.valid"
                                        (click)="verInfoAlMomento()">
                  <span class="material-icons">
                      save
                  </span>
                  Siguiente
              </button>
          </div>
        </div>  
      </div>
    </mat-card-content>
  </mat-step>
  <!-- FIN SEGUNDO STEPPER -->

  <!-- INICIO TERCER STEPPER -->
  <mat-step>
    <ng-template matStepLabel>Fin</ng-template>
    <!-- MENSAJE ACLARATORIO -->
    <div class="alert alert-success text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">Ya haz terminado! Para registrar la inscripcion aprieta en Registrar Inscripcion</h4>
      <p>
          <i class="fa fa-exclamation fa-2x"></i>
      </p>
    </div>    
    <div class="row clearfix" style="padding-left: 1070px; margin-top: 10px;">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6" style="margin-bottom: 10px;">
          <button mat-raised-button matStepperNext 
                                    class="btn mx-2 float-right" 
                                    type="submit" color="primary"
                                    [disabled]="!formularioCarrera.valid"
                                    (click)="registrarInscripcion()">
              <span class="material-icons">
                  save
              </span>
              Registrar Inscripcion
          </button>
      </div>
    </div>  
  </mat-step>
  <!-- FIN TERCER STEPPER -->
</mat-horizontal-stepper>
<!-- FIN STEPPER -->
